body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 50px;
	font-size: 16px;
}
a {
	color: #7616B9;	
}
a:hover {
	color: #7616B9;	
}

/* Bootstrp Override */
.navbar-fixed-top {
	background-color: #fff;
	box-shadow: 0px 1px 8px 0px rgba(51, 51, 51, 0.2);
	-webkit-box-shadow: 0px 1px 8px 0px rgba(51, 51, 51, 0.2);
	-moz-box-shadow: 0px 1px 8px 0px rgba(51, 51, 51, 0.2);
}
.navbar-collapse {
	background-color: #fff;
}
.navbar-toggle {
	border-color: #7616B9;
}
.icon-bar {
	background-color: #7616B9;
}
/* Bootstrap buttons */
.btn.active.focus, 
.btn.active:focus,
.btn.focus,
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
	outline: none;
}
.btn-primary {
	color: #7616B9;
	background-color: #fff;
	border-color: #7616B9;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus, 
.open>.dropdown-toggle.btn-primary:hover,.btn-primary.active, 
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #7616B9 !important;
	border-color: #7616B9;
}
.btn-secondary {
	color: #1EAAD2;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary.active.focus,
.btn-secondary.active:focus,
.btn-secondary.active:hover,
.btn-secondary:active.focus,
.btn-secondary:active:focus,
.btn-secondary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus, 
.open>.dropdown-toggle.btn-primary:hover {
	color: #fff;
	background-color: #1EAAD2 !important;
}
.btn-group .btn {
	margin-left: 10px;
	margin-right: 10px;
}
.btn-round {
	border-radius: 50px !important;
}
.btn-outline {
	background-color: #fff;
	border-radius: 0px;
	border: none;
}
.modal-content {
	border-radius: 0px;
}
.modal-footer {
	padding-top: 30px;
	padding-bottom: 30px;
}
/* General Styles */
.title {
	font-size: 1.2em;
	margin-top: 30px;
	margin-bottom: 30px;
}
.caption {
	font-size: 1.2em;
margin-top: 70px;
	margin-bottom: 50px;
}
.pricing-button {
	margin-top: 25px;
	margin-bottom: 60px;
}
.pricing-button .btn,
.modal-footer .btn  {
	width: 100%;
	padding: 10px;
	text-align: center;
}
/* outer shadow */
.o-shadow,
.btn-outline,
.box {
    box-shadow: 0px 0px 40px 0px rgba(51, 51, 51, 0.2);
	-webkit-box-shadow: 0px 0px 40px 0px rgba(51, 51, 51, 0.2);
	-moz-box-shadow: 0px 0px 40px 0px rgba(51, 51, 51, 0.2);
}
/* box */
.box {
	width: 290px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 30px;
	border: 2px solid transparent;
	cursor: pointer;

	/*Transition*/
	
	transition: all linear 0.15s;
	-webkit-transition: all linear 0.15s;
	-moz-transition: all linear 0.15s;
	-o-transition: all linear 0.15s;
}
.box.active .selected {
	opacity: 1px;
	visibility: visible;
	/*Transition*/
	
	transition: all linear 0.15s;
	-webkit-transition: all linear 0.15s;
	-moz-transition: all linear 0.15s;
	-o-transition: all linear 0.15s;
	
}
.selected {
	width: 32px;
	height: 32px;
	position: absolute;
	padding-top: 3px;
	color: #1EAAD2;
	border-radius: 30px;
	text-align: center;
	border: 2px solid #1EAAD2;
	opacity: 0px;
	visibility: hidden;
}
.box.active,
.box:hover {
	border: 2px solid #7616B9;
}
.box-header {
	margin-bottom: 30px;
}
.box-img {
	height: 100px;
	display: inline-block;
}
.box-title {
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 20px;
}
.box-body {
	min-height: 180px;
	margin-bottom: 20px;
}
.box-body p {
	font-size: 0.8em;
}
.price {
	font-size: 1.7em;
	font-weight: 600;
	margin-bottom: 20px;
}
.price span {
	font-size: .5em;
	vertical-align: text-top;
	color: #1EAAD2;
}
.box-footer {
	padding: 0px 10px  ;
}
.box-footer p {
	color: #7616B9;
	text-transform: uppercase;
}

/* otp form */
.otp-form {
    text-align: center;
    margin-top: 100px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 60px;
    border-radius: 15px;
}
.otp-form label {
    display: block;
    font-weight: 100 !important;
    margin-bottom: 50px
    
}
.otp-form input {
    width: 300px;
    display: inline-block;    
}

.outline-form input, .otp-form input {
	 border-radius: 0px;
    outline: none;
	box-shadow: none;
    -webkit-box-shadow: none;
	border: 1px solid #ddd;
    border-color: transparent transparent #ddd transparent;
}
.otp-form .form-control:focus, .outline-form .form-control:focus {
    border-color: transparent transparent #7616B9 transparent;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.outline-form label {
	font-weight: 400;
}
/* list */
.list .total-price {
	border-top: 1px solid #ddd;
}
.list > * {
	padding-top: 20px;
	padding-bottom: 20px;
}
.total-price {
	font-size: 1.2em;
	font-weight: 600;
	color: #7616B9;
}
.list i {
	margin-left: 10px;
	color: #1EAAD2;
}
/*cards*/
.cards {
	margin-bottom: 30px;
}
#paymentDetails label {
	font-size: 0.8em;
}

@media (min-width: 768px) {
	.navbar-collapse {
		float: right;
	}
	.caption {
	margin-top: 100px;
	margin-bottom: 60px;
}
		.modal-sm {
	width: 400px;
}
}
@media (min-width: 600px) {
	.pricing-button .btn,  .modal-footer .btn {
		width: 225px;
		margin-right: 15px;
		margin-left: 15px;
	}
	#paymentDetails .modal-footer .btn {
		width: 150px !important;
	}

}
@media (max-width: 599px) {
	.pricing-button .btn,  .modal-footer .btn  {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}